{% extends 'base.html' %} 
{% block content %} 
{% load static %} 

{% for blog in blogs %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
        <a href="{% url 'detail' blog.id %}">
          <h2 class="post-title">{{blog.title}}</h2>
        </a>

        <h3 class="post-subtitle">{{blog.summary}}</h3>
        <p class="post-meta">{{blog.writer}} &ensp; {{blog.pub_date}}</p>
      </div>
      <hr />

      <div class="clearfix">
        <a class="btn btn-primary float-right" href="{% url 'detail' blog.id %}"> 더보기 →</a>
        <!-- blog.id를 함으로써 해당 글로 연결해준 것 -->
      </div>
    </div>
  </div>
</div>
<hr />

{% endfor %} 

{% endblock %}
